<a href="https://colab.research.google.com/github/skymy009/JuYeob_project/blob/main/1_1_Top_10_%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# boston 데이터 세트(boston.csv)의 MEDV 칼럼에 대해서 가장 작은 값부터 순서대로 10개 행을 출력해야 한다. 즉, 오름차순으로 정렬된 MEDV 값에서 Top 10을 구하시오.

In [7]:
# pandas 라이브러리 가져오기
import pandas as pd

In [8]:
# boston.csv 파일의 데이터를 읽은 후, 해당 데이터를 data 변수에 저장하기
data = pd.read_csv('boston.csv')

In [9]:
# data 변수의 상위 5개 행을 출력하기
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [10]:
# data 변수를 MEDV 칼럼 기준으로 오름차훈 정렬하기
print(data.sort_values(by = 'MEDV', ascending = True))

         CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
398  38.35180   0.0  18.10     0  0.693  ...  666     20.2  396.90  30.59   5.0
405  67.92080   0.0  18.10     0  0.693  ...  666     20.2  384.97  22.98   5.0
400  25.04610   0.0  18.10     0  0.693  ...  666     20.2  396.90  26.77   5.6
399   9.91655   0.0  18.10     0  0.693  ...  666     20.2  338.16  29.97   6.3
414  45.74610   0.0  18.10     0  0.693  ...  666     20.2   88.27  36.98   7.0
..        ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
166   2.01019   0.0  19.58     0  0.605  ...  403     14.7  369.30   3.70  50.0
195   0.01381  80.0   0.46     0  0.422  ...  255     14.4  394.23   2.97  50.0
283   0.01501  90.0   1.21     1  0.401  ...  198     13.6  395.52   3.16  50.0
225   0.52693   0.0   6.20     0  0.504  ...  307     17.4  382.00   4.63  50.0
186   0.05602   0.0   2.46     0  0.488  ...  193     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [11]:
# MEDV 칼럼만 추출하기
print(data.sort_values(by = 'MEDV', ascending = True)['MEDV'])

398     5.0
405     5.0
400     5.6
399     6.3
414     7.0
       ...
166    50.0
195    50.0
283    50.0
225    50.0
186    50.0
Name: MEDV, Length: 506, dtype: float64

In [12]:
# 상위 10개 행을 출력하기
print(data.sort_values(by = 'MEDV', ascending = True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64